* {
  margin: 0;
  padding: 0;
  
}

html {
  font-family: 'Questrial', sans-serif;
  letter-spacing: 5px;
  background-color: #1b262c;
  color: white;
}

h1 {
  font-size: 40px;
  display: inline;
}

h2 {
  margin-top: 5px;
  font-size: 18px;
  margin-bottom: 8px;
}

form {
  display: inline;
  vertical-align: center;
}

input {
  padding-left: 5px;
  font-size: 15px;
  height: 40px;
  width: 300px;
  border-color: black;
  border-radius: 5px;
  border-style: none;
}

button {
  font-size: 15px;
  height: 40px;
  width: 125px;
  border-radius: 5px;
  border-style: none;
  background-color: white;
}

button:hover {
  box-shadow: 0 0px 5px white;
}

form {
  margin: 0;
  float: right;
  padding: 0;
  height: auto;
}

nav {
  padding: 2% 3.5%;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-wrap:wrap;
}

.days {
  flex: 1;
  margin: 1.5%;
  border: grey;
  border-radius: 30px;
  box-shadow: 0 4px 10px black;
}

.days:hover {
  box-shadow: 0 0px 10px white;
  border-color: black;
  border-style: none;
}

.days:first-child {
  margin-left: 3%;
}

.days:last-child {
  margin-right: 3%;
}

.info-container {
  margin: 30% 25px;
}

.temperature {
  font-size: 50px;
  padding: 10px;
  font-weight: 600;
  text-align: center;
}

.weather-description {
  font-size: 16px;
  padding: 10px;
}

.search-prompt, .error {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 930px) {
  form {
    display: block;
    float: none;
  }

  input {
    margin-top: 2%;
    width: 100%;
  }

  #search-button {
      display: none;
  }
}

.fade-in:not([name="no-fade"]) {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
} 